* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --azul-escuro: #0E1B2B;
    --azul-principal: #1F68CA;
    --azul-secundario: #284D9C;

    --branco: #FFFFFF;

    --cinza-fundo: #F0F1F3;
    --cinza-claro: #E5E7EB;
    --cinza-medio: #A1A4A9;
    --cinza-escuro: #54575D;

    --texto-principal: #293347;
}
@keyframes surgir{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width:768px){
    
     nav{
        flex-direction:column;
        gap:20px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
        gap:15px;
    }

    
    .about-highlights{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }
    .highlight-card{
        background-image: linear-gradient(to right,#ffffff,#ecebeb);
        border-radius: 10px;
        padding: 10px;
        border-style: double;
        transition: .5s;
    }
    .highlight-card:hover{
        transform: scale(1.1);
    }
    .profile-image-container{
        transition: 1s;
    }
    .profile-image-container:hover{
        transform: scale(1.12);
        padding-bottom: 15px;
    }
    
}
body {
    background-color: var(--cinza-medio);
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: system-ui, Arial, sans-serif;
    line-height: 1.2;
    transition: 0.5s;
    animation: surgir 0.8s ease-in;
   
}
header {
    background-color: var(--azul-escuro);
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
   
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
   
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    align-items: center;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav a {
    transition: 0.6s;
    padding: 8px;
    position: relative;
    
}
nav a::after{
    content: '';
    position: absolute;
    width: 0;
    bottom: -5px;
    height: 2px;
    left: 0;
    transition: 0.8s;
    background-color: #1F68CA;
}

nav a:hover::after{
    width: 100%;
}

nav a:hover {
    color: var(--azul-secundario);

}

nav p {
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}
.luzolo{
    color:white;
}

.mampassi{
    color:var(--azul-principal);
}

main{
    padding-top: 20px;
    background-color: var(--cinza-claro);
    color: var(--texto-principal);
    width: 100%;

}
.about{
    padding: 30px 30px 36px 30px;
}

.about-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
}

.profile-image-container img{
    width: 320px;
    height: 400px;
    border-radius: 12px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.087);
}

.about-text{
    max-width: 600px;
    text-align: justify;
}
.about-text p{
    padding-bottom: 20px;
    
}
.about-text h1{
    padding-bottom: 40px;
}
.about-text h3{
    padding-bottom: 20px;
    color: var(--azul-principal);
}

.about-highlights{
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    gap: 10px;
}
.about-highlights h3{
    padding-bottom: 0px;
    color: black;
}
.personal-info{
    background-color: var(--branco);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.087);
    max-width: 400px;
    width: 100%;
}
.personal-info-content {
    display: block;
    padding: 4px;
   
}
.personal-info-content a{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--azul-principal);
    border-radius: 5px;
}
.personal-info-content a:hover{
    background-color: #284D9C;
}
.personal-info-content h3 {
    padding-bottom: 8px;
}
.card{
    padding-bottom: 20px;
}
.icon-text{
    color: var(--azul-principal);
    
}

footer{
    background:var(--azul-escuro);
    color:white;
    padding:12px;
    margin-top:0px;
    text-align:center;
    padding-bottom: 20px;
}

.icones{
    display:flex;
    justify-content:center;
    padding-top:15px;
}
.icones a{
    margin:0 15px;
    transition:.3s;
}

.icones a:hover{
    transform:translateY(-5px);
}

.copyright{
    margin-top:20px;
    display:flex;
    justify-content:center;
}
