*{padding: 0;margin: 0;box-sizing: border-box;}
body{background-color: grey;height: 100vh;height: 100vh;}

 body.dark{
            background-color: black;
            color: white;
       
        }
.content{
    display: flex;
    justify-content: left;
    align-items:  center;
    transform: translateY(50%);
    margin: auto;
    height: 300px;
    width: 600px;
    background-color: white;
    padding: 5px;
    border-radius: 200px;
    border: 1px double black;
    position: relative;
}
.conteiner{
    height: 245px;
    width: 245px;
    outline: none;
    border-style: none;
    background-color: black;
    border-radius: 200px;
    transition: 1s;
    cursor: pointer;
}
.conteiner.ativo{
    animation: mover 1s ease forwards;
}

.conteiner.inativo{
    animation: mover2 1s ease forwards;
}

@keyframes mover{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(140%);
    }
}

@keyframes mover2{
    from{
        transform: translateX(140%);
    }
    to{
        transform: translateX(0);
    }
}
