*{padding: 0;margin: 0;box-sizing: border-box;font-family: sans-serif;}

:root {
    /* Cores primárias */
    --color-primary: #7F35F0;
    --color-primary-hover: #A78BFA;
    --color-secondary: #3B82F6;
    --color-accent: #6366F1;

    /* Cores neutras */
    --color-header: #000619;
    --color-banner: #00071A;
    --color-bg: #030B1E;
    --color-surface: #111827;
    --color-surface-2: #1F2937;
    --color-border: #2D3748;
    --color-text: #E5E7EB;
    --color-text-muted: #9CA3AF;

    /* Cores semânticas */
    --color-success: #10B981;
    --color-warning: #F59E0B;
    --color-error: #EF4444;
    --color-info: #3B82F6;

    /* Gradientes */
    --gradient-primary: linear-gradient(
        135deg,
        #8B5CF6 0%,
        #6366F1 100%
    );

    --gradient-hero: linear-gradient(
        135deg,
        #1E1B4B 0%,
        #7C3AED 100%
    );
    --gradient-herobody:radial-gradient(
    circle at top right,#5a1ea8,#090a1d 60%);
}

   

body{
    width: 100%;
    background-color: var(--color-bg);
    color: var(--color-text);
   
}




main{
    padding-bottom:25px;
}
@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: fade-out .3s;
}

::view-transition-new(root) {
    animation: fade-in .3s;
}
@keyframes fade-out {
   
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
  

}
@keyframes surgir{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(-10px);
    }
    
}

