.banner{
    width:100%;
    min-height: 480px;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: center;
    background:var(--color-header);
}
/* ===========Texto de boas vinda ========== */
.boas-vinda{
    display: inline-flex;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: var(--color-primary);
    background-color: #270278be;
    }

/* ===========Conteúdo========== */

.banner-container{
    width:100%; 
    z-index:2;
    padding: 20px;
   
}
.banner-content{
    font-size: 1.4em;
    padding-bottom: 25px;
}
.banner-content h1{
    color: white;
    padding-bottom: 15px;
}

.banner-text-mark{
    color: var(--color-primary);
    text-shadow: 4px 5px 3px #0000005d;
}
/* ===========Botões========== */
.banner-buttons{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;  
}
.banner-buttons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width:180px;
    height:50px;
    border-radius:8px;
    cursor:pointer;
    transition:.4s;
    border: 1px groove var(--color-border);
   
    border: none;
    padding: 5px;
    font-size: 1.1em;
    gap: .5rem;
    color: white;
}

.btn-primary{
    background-image:linear-gradient(to right , #443cb1,#601cd5);  
}
.btn-primary:hover{
    background-image:linear-gradient(to right , #675fd4,#7b3de7);
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(127,53,240,.3);
}
.btn-primary:active{
    transform: translateY(0);
}
.btn-primary:focus{
    outline: 2px solid var(--color-primary);
    outline-offset: 3px;
}

.btn-primary a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    transition: 0.4s;
}


.btn-secundary{
    background-color: var(--color-surface3);
   
}
.btn-secundary:hover{

    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.579);
}
.btn-secundary:active{
    transform: translateY(0);
}
.btn-secundary:focus{
    outline: 2px solid black;
    outline-offset: 3px;
}

.btn-secundary a{
    text-decoration: none;
    color: white;
    font-size: 1.1em;
    
}
button:focus-visible,
a:focus-visible{
    outline:2px solid var(--color-primary);
    outline-offset:4px;}

/*============================== HERO ==============================*/
.hero{  
    padding: 20px;
}
.window{
    width:100%;
    max-width:550px;
    margin:auto;
    position:relative;
    z-index: 1;
}

.window > img{
    display:block;
    width:100%;
    height:auto;
}


.icon-code{
    position:absolute;
    top:12%;
    right:-5%;
    width:18%;
    max-width:120px;
    z-index:10;
}


.icon-css{
    position:absolute;
    top:55%;
    left:-5%;
    width:20%;
    max-width:130px;
    z-index:10;
}


.icon-photo{
    position:absolute;
    bottom:5%;
    right:5%;
    width:35%;
    max-width:220px;
   
}


.icon-code img,
.icon-css img,
.icon-photo img{
    width:100%;
    height:auto;
    display:block;
    z-index: 2;
}

@media(min-width:768px){
    .hero{
        width: 40%;
    }
   .banner{
    font-size:clamp(1.3em,2.2rem) ;
   }

    .banner-container{
        width: 40%;
        margin: 0;
        padding: 20px;
    }
}
@media(min-width:900px){
    .hero{
        width: 45%;
        min-height: 400px;
        height: 100%;
       
    }
    .window{
        height: 100%;
    }
   .banner{
        gap: 40px;
        align-items: center;
   }

    .banner-container{
        width: 40%;
        margin: 0;
        padding: 20px;
    }
    
}



