/*============================== HERO ==============================*/

.hero{
    position:relative;
    flex:1;
    min-height:500px;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:visible;
    flex-shrink:0;
    
}

/* Brilho ao fundo */

.hero::before{
    content:"";
    position:absolute;
    width:650px;
    height:500px;
    right:-120px;
    top:-90px;
    background:radial-gradient(circle,
    rgba(139,92,246,.28) 0%,
    rgba(139,92,246,.15) 35%,
    transparent 75%);
    z-index:0;
   
}

/* Fundo */

.hero-bg{
    position:absolute;
    inset:0;
    overflow:visible;
    z-index:0;

}

/* Linhas */


.hero-bg::after{
    content:"";
    position:absolute;
    border:1px solid rgba(139,92,246,.18);
    border-radius:50%;
    
}
.hero-bg::before{

    width:700px;

    height:390px;

    left:-120px;

    top:90px;

}
.hero::before{

    width:900px;

    height:700px;

    right:-180px;

    top:-150px;

}

.hero-bg::after{

    width:350px;

    height:350px;

    right:-40px;

    top:40px;

}

/* Pontos */

.hero-bg span{
    position:absolute;
    width:5px;
    height:5px;
    border-radius:50%;
    background:#8B5CF6;
}

.hero-bg span:nth-child(1){
    left:35px;
    top:75px;
}

.hero-bg span:nth-child(2){
    left:120px;
    top:270px;
}

.hero-bg span:nth-child(3){
    left:260px;
    top:40px;
}

.hero-bg span:nth-child(4){
    right:105px;
    top:35px;
}

.hero-bg span:nth-child(5){
    right:30px;
    top:175px;
}
.hero-bg span:nth-child(6){
    right:400px;
    top:47px;
}
.hero-bg span:nth-child(7){
    right:30px;
    top:175px;
}
.hero-bg span:nth-child(8){
    right:40px;
    top:175px;
}
.hero-bg span:nth-child(9){
    right:30px;
    top:45px;
}
.hero-bg span:nth-child(10){
    right:30px;
    top:75px;
    border:1px solid #5a1ea8
}
.hero-bg span:nth-child(11){
    right:-300px;
    top:175px;
}

/*==================== JANELA ====================*/
img{
    display:block;
    object-fit:contain;
}
.window{
    position:relative;
    width:670px;
    aspect-ratio:16/10;
    z-index:2;
}

.window > img{
    width:100%;
    height:auto;
    display:block;
}
/*====================Hero-CARDS ====================*/


.hero-card{
    position:absolute;
    z-index:5;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* Ícone </> */

.code-card{

    width:68px;

    height:68px;

    left:-40px;

    top:150px;

}

.code-card img{
    width:100%;
    height:100%;
}

/* Card da imagem */

.image-card{

    width:265px;

    right:15px;

    bottom:65px;
}

.image-card img{
    width:100%;
    height:auto;
}



.css-card{

    width:72px;

    height:72px;

    right:-20px;

    bottom:-18px;

}

.css-card img{
    width:100%;
    height:100%;
}