/*<!--==============================Cabeçalho==============================-->*/
@media(max-width:769px){
    nav h1{
        text-align: center;
    }
    .icone-bar{
        margin:0px auto;
    }
}

/*<!--==============================Banner==============================-->*/
@media(max-width:769px){
   .banner{
    flex-direction: column;
   
   }
}




/*============================== Secção Projetos ==============================*/

    

@media (max-width:640px){
   .icones-projetos{
    flex-direction: column;
    
    align-items: center;
   }
}