/*==========================RESET==========================*/
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*==========================VARIÁVEIS==========================*/
:root {
    /* Cores primárias */
    --color-primary: #551eae;
    --color-secondary: #A78BFA;
  
    --color-accent: #6366F1;

    /* Cores neutras */
    --color-header: #000619;
    --color-banner: #00071A;
    --color-bg: #000415;
    --color-card: #010B22;
    --color-card2: #000B22;
    --color-border: #2D3748;
    --color-text: #E5E7EB;
    --color-text-muted: #9CA3AF;
    --color-surface: #18105A;
    --color-surface2: #831c9f;
    --color-icon-bg:#0C0B3C;

    /* Gradientes */
    --gradient-primary: linear-gradient(
        135deg,
        #8B5CF6 0%,
        #4012CE 100%
    );

    --gradient-secundary: linear-gradient(
        135deg,
        #5E1FE6,
        #7C3AED
    );
    --gradient-herobody:radial-gradient(
    circle at top right,#5a1ea8,#090a1d 60%);
    /*Bordas*/
    --radius-sm:8px;
    --radius-md:12px;
    --radius-lg:20px;
}

.boas-vinda{
    display:inline-block;
    font-weight: bold;
    padding: 10px 12px 0px 10px;
    margin-bottom: 15px;
    border-radius: 30px;
    color: var(--color-primary);
    background-color: #270278be;

}

.banner-content{
    font-size:clamp(1.6rem,3vw,2rem);
    padding-bottom: 25px;
    
}

/*==========================MAIN==========================*/


/*==========================BANNER==========================*/
.banner-text-mark{
    color: var(--color-primary);
    text-shadow: 4px 5px 3px #0000005d;
}
.banner-sobre{
    padding: 10px;
    margin-top: 40px;
    background-color: var(--color-bg);
    border-bottom:1px solid var(--color-border) ;
  
}
.highlights{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:30px;
    padding:30px 0;
}
.highlight{ 
    background-color: var(--color-icon-bg);
    padding: 10px;
    color:var(--color-primary);
    border: 1px solid var(--color-surface);
    border-radius: 7px;
    width:40px;
    height:40px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#120f46;
    border:1px solid #3826a8;
    border-radius:12px;
    color:#8B5CF6;
  
}
.highlights-container{
    display:flex;
    align-items:center;
    gap:18px;
    flex:1;
}
.highlight-txt h2{
    color:white;
    font-size:2rem;
    font-weight:700;
}

.highlight-txt p{
    margin-top:5px;
    color:#9CA3AF;
    font-size:.95rem;
}
.highlights-container{
    position:relative;
}

.highlights-container:not(:last-child)::after{
    content:"";
    position:absolute;
    right:-20px;
    top:50%;
    transform:translateY(-50%);
    width:1px;
    height:60px;
    background:#24284a;
}

.hero-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.perfil{
    background: var(--color-header) url(../icones/building.jpg) no-repeat center center;
    background-size: cover;
    border-radius: 20px;
    width: calc(100% - 140px);
    height: 470px;  
    border: 3px solid var(--color-surface2);
    position: relative;
    transition: .4s ease;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);
}
.perfil:hover{
    transform: scale(1.05);
}

.perfil:active{
    transform: scale(1.05);
}
.perfil:focus{
    outline: 5px solid var(--color-surface2);
    outline-offset: 10px;

}

.icone-code{
    position: absolute;
    top: 25%;      
    left: -60px;     
    width: 140px;
    height: 160px;
}
.icone-code img{
    display:block;
    max-width:100%;
    height:auto;
}

.icone-css{
    position: absolute;
    top: 60%;      
    right: -60px;     
    width: 120px;
    height: 120px;  
    z-index: 10; 
}

.icone-css img{
    display:block;
    max-width:100%;
    height:auto;
}
.modal{ 
    padding: 10px;
    height: auto;
    width: calc(100% - 100px);
    background-color: var(--color-card);
    border: 3px solid var(--color-surface);
    border-radius: 15px;
    color: var(--color-text-muted);
    position: relative;
    transition: .4s ease ;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);

}
.modal:hover{
    transform: scale(1.05);
    z-index: 10;
}
.modal h3{
    color: var(--color-text);
}
.icone{
    padding: 10px;
    color:var(--color-primary);
}
/*==========================
EXPERIÊNCIAS
==========================*/
/*Main do corpo*/
.experiencias{
    padding: 10px;
    width: 100%;
    max-height: 630px; 
    /*display:grid;
    grid-template-columns:1fr;
       */
}
/*==========================HABILIDADES==========================*/
.skills{
    width: 100%;
    background-color: var(--color-card2);
    border: 1px solid #071632;
    border-radius: 10px;
    min-height: 200px;
    padding: 10px;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);

}
.tecnologias{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.highlight-tec{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    border-radius: 18px;
    min-height: 120px;
    max-height:160px;
    margin: 20px 0px;
    gap: 10px;
    background-color:#0B1324;
    transition: transform .3s;
    animation: surgir .6s ease;
    cursor: pointer;
 
   
}
.highlight-tec:hover {
    transform: translateY(-10px);
}

.highlight-tec::before{
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px;
    border-radius: inherit;

    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;

    opacity: .85;
    pointer-events: none;
}

.highlight-tec img{
    width: calc(100% - 20px);
    object-fit: contain;
    overflow: hidden;
}
.highlight-tec:hover{
   transform:translateY(-10px);
}
abbr {
    text-decoration: none;
    border-bottom: none;
    cursor: help;
}

.html{
    background:
        radial-gradient(circle at top,
            rgba(255,107,74,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(255,107,74,.18) 0%,
            rgba(255,107,74,.08) 45%,
            transparent 100%),
        #0B1324;
    transition: .3s;
     
}
.html:hover {
    box-shadow: 1px 1px 4px rgb(255, 107, 74);
}
.html::before{
    background: linear-gradient(135deg,#ff784f11,#7e3156);
}
.css{
    background:
        radial-gradient(circle at top,
            rgba(45,140,255,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(45,140,255,.18) 0%,
            rgba(45,140,255,.08) 45%,
            transparent 100%),
        #0B1324;
}
.css:hover {
   
    box-shadow: 1px 1px 4px rgb(45,140,255);
}

.css::before{
    background: linear-gradient(135deg,#2d8bff3b,#1b4cff7e);
}
.js{

    background:
        radial-gradient(circle at top,
            rgba(255,212,59,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(255,212,59,.18) 0%,
            rgba(255,212,59,.08) 45%,
            transparent 100%),
        #0B1324;
}
.js:hover {
   
    box-shadow: 1px 1px 3px rgb(255,212,59);
}

.js::before{
    background: linear-gradient(135deg,#ffd53b2e,#8a6d00);
}
.git{
    background:
        radial-gradient(circle at top,
            rgba(255,97,64,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(255,97,64,.18) 0%,
            rgba(255,97,64,.08) 45%,
            transparent 100%),
        #0B1324;
}
.git:hover {
    box-shadow: 1px 1px 4px rgb(255,97,64);
}

.git::before{
    background: linear-gradient(135deg,#ff60402b,#8d2f56);
}
.vscode{
    background:
        radial-gradient(circle at top,
            rgba(0,122,255,.22),
            transparent 65%),
        linear-gradient(to bottom,
            rgba(0,122,255,.18) 0%,
            rgba(0,122,255,.08) 45%,
            transparent 100%),
        #0B1324;
}
.vscode:hover {
  
    box-shadow: 1px 1px 4px rgb(0,122,255);
}
.vscode::before{
    background: linear-gradient(135deg,#007bff2e,#0048b5);
}
/*==========================BARRA DE PROGRESSO==========================*/

.bar{
    padding: 10px;
    border: 1px solid #071632;
    border-radius: 8px;  
}
.bar p {
    display: flex;
    align-items: center;
    margin: 0px;
}
.progress-bar{
    width:90%;
    border-radius: 0px;
    overflow: hidden;
    position: relative;
}
.barra-conteiner{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: bolder;
}


progress::-webkit-progress-bar {
    background-color: #1f2937;
    border-radius: 8px;
}

progress::-webkit-progress-value {
    border-radius: 8px;
    background-color: var(--color-primary); 
    animation: surgir-horizontal .6s ease;  
}

progress::-moz-progress-bar {
    background-color: var(--color-primary);
    border-radius: 8px;
    
}
/*==========================JORNADA==========================*/
.jornada{
    width: 100%;
    background-color: var(--color-card2);
    border: 1px solid #071632;
    border-radius: 10px;
    min-height: 300px;
    padding: 20px; 
    color: var(--color-text-muted);
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px rgba(7, 7, 7, 0.253);

}

.jornada h2{
    color: var(--color-text);
    font-weight: bolder;
    margin-bottom: 15px;
}
.jornada h3{
    color: var(--color-text);
    font-weight: bold;
}
.jornada h4{
    color: var(--color-primary); 
}




/*==========================Responsividade==========================*/
@media (min-width:768px){
    main{
        margin-bottom: 0px;
    }
    .banner-sobre{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
}
    .banner-conteiner{
        width: 50%;  
        transform: translateX(10%);  

    }
    .hero-sobre{
        width: 50%;  
        transform: translateX(-20%);  
    }
    .perfil{
        width: 370px;
        border:2px solid var(--color-surface2);
        position: relative;
        height: 450px;
       
    }
    .modal{
        border:2px solid var(--color-surface);
        position: absolute;
        width:300px;
        height:380px;
        right: -15%;
        top: 10%;
    }
    .icone-css{
    position: absolute;
    top: 83%;      
    right: -15px;     
    width: 100px;
    height: 100px;
}

    .icone-css img{
        display: block;
        width: 100%;
        height: auto;
}
    .experiencias{
        display: flex;
        justify-content: center;
        gap: 20px;
        height: auto;
    }
    .skills{
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        max-width: 40%;
      
    }
    .jornada{
        max-width: 50%;
        margin-bottom: 0px;
    }
    .jornada h2,h3,h4,p{
        margin-bottom: 20px;
    }
    .highlight-tec{
        border-radius: 10px;
        height:auto;
        padding: 5px;
    }
   
}

/*==========================VIEW TRANSITION==========================*/
@view-transition {
    navigation: auto;
}

::view-transition-old(root) {
    animation: fade-out .4s;
}

::view-transition-new(root) {
    animation: fade-in .4s;
}
/*==========================ANIMAÇÕES==========================*/
@keyframes fade-out {
   
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
  

}
@keyframes surgir{
    from{
        opacity:0;
        transform:translateY(30px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }

}
@keyframes surgir-horizontal {
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}




