<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modo dark</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="content">
    <button class="conteiner"></button>
</div>

<script>
    const botao = document.querySelector('.conteiner')
    botao.addEventListener('click', () => {
        document.body.classList.toggle('dark')
        if (botao.classList.contains("ativo")) {
        botao.classList.remove("ativo");
        botao.classList.add("inativo");}
        else {
        botao.classList.remove("inativo");
        botao.classList.add("ativo");
    }
    })
</script>
    
</body>
</html>