html{
    scroll-behavior: smooth;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --color-primary: #692BCC;
    --color-secondary: #692CC8;
        --color-primary-hover: #A78BFA;
    --background: #00040E;
    --background-form:#060E1C;
    --background-hero:#00081A;
    --card-color:#050E1F;
    --color-text: #E5E7EB;
    --color-border: #2D3748;
    --color-text-muted: #9CA3AF;
      /* Cores neutras */
    --color-header: #000619;
    --color-banner: #00071A;
    --color-bg: #030B1E;
    --color-surface: #111827;
    --color-surface-2: #1F2937;
    --color-text: #E5E7EB;
    --color-text-muted: #9CA3AF;
    
    /* Gradientes */
    --gradient-primary: linear-gradient(
        135deg,
        #8B5CF6 0%,
        #6366F1 100%
    );

    --gradient-hero: linear-gradient(
        135deg,
        #1E1B4B 0%,
        #7C3AED 100%
    );
    --gradient-herobody:radial-gradient(
    circle at top right,#5a1ea8,#090a1d 60%);


}
