<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login com Slider</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <section class="login-container">
        <!--Slider-->
        <article class="slider">
            <div class="slides">
                <div class="slide1">
                </div>
                <div class="slide1">
                </div>
                <div class="slide1">
                </div>
            </div>
        </article><!--Fim Slider-->
        <!--Cadastro-->
        <article class="cadastro">
            <h1>Entrar na sua conta</h1>
            <p>Use suas credencias para acessar</p>

            <form action="#" autocomplete="on" method="post">
                <label for="email">Email</label>
                <div class="input-conteiner">
                    <input type="email" name="email" id="email" placeholder="seuemail@exemplo.com">
                </div>

                <label for="password">Senha</label>
                <div class="input-conteiner">
                    <input type="password" name="password" id="password" placeholder="···············">
                </div>
                <div class="buttons">
                    <div class="options">
                        <div class="remember">
                            <input type="checkbox" name="lembrar" id="lembrar">
                            <label for="lembrar">Lembrar-me</label>
                        </div>

                        <a href="#" class="forgot-password">Esqueceu a senha?</a>
                    </div>

                    <input type="submit" value="Entrar" class="btn-entrar">
                </div>
            </form>
        </article><!--Fim cadastro-->
    </section>
    
</body>
</html>