*{
        margin:0;
        padding:0;
        box-sizing:border-box;
    }
body{
    background-image: linear-gradient(to right, black, #222);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.caixa{
    background-image: linear-gradient(to right , rgb(255, 255, 255) , rgb(203, 203, 203));
    height: 100px;
    width: 100px;
    position: relative;
    animation: pulo-mover 1.5s ease infinite ;
    


  

}


.conteudo{
    padding: 30px;
    
}
@keyframes pulo-mover {

    0%{
        transform: translate(0,0) rotate(0deg);
        border-radius: 0%;
        box-shadow: 0 0 0 #15fffb;
        background-image: linear-gradient(to right,#fff,#cbcbcb);
    }

    25%{
        transform: translate(100px,-100px) rotate(90deg);
        border-radius: 15%;
        box-shadow: 3px 5px 15px #15fffb;
        background-image: linear-gradient(to right,#c4c4c4,#75d8fc);
    }

    50%{
        transform: translate(200px,0) rotate(180deg) scale(1.2,0.8);;
        border-radius: 50%;
        box-shadow: 6px 10px 30px #15fffb;
        background-image: linear-gradient(to right,#75d8fc,#15fffb);
    }

    75%{
        transform: translate(100px,-100px) rotate(270deg);
        border-radius: 15%;
        box-shadow: 3px 5px 15px #15fffb;
        background-image: linear-gradient(to right,#75d8fc,#c4c4c4);
    }

    100%{
        transform: translate(0,0) rotate(360deg);
        border-radius: 0%;
        box-shadow: 0 0 0 #15fffb;
        background-image: linear-gradient(to right,#fff,#cbcbcb);
    }
}

