*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --color-primary: #692BCC;
    --color-secondary: #5921b2;
    --background: #00040E;
    --background-form:#060E1C;
    --background-hero:#00081A;
    --card-color:#050E1F;
    --text: #FFFFFF;
    --color-border: #2D3748;
}

#txt-dest{
    color: var(--color-primary);
}

.bi-code-slash{
    font-size: 35px;
    font-weight: bolder;
}

header{
    width: 100%;
    background-color: #00040F;
    position: relative;
}

nav{
    width: 100%;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text);
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

nav ul li{
    padding: 5px;
}

nav ul a{
    color: var(--text);
    font-weight: bold;
    position: relative;
}

nav ul a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    background: var(--color-primary);
    border-radius: 10px;
    transition: .3s;
}

nav ul a:hover::after{
    width: 100%;
}

#btn-sign{
    display: inline-block;
    color: var(--text);
    background: var(--color-primary);
    padding: 15px 25px;
    border-radius: 12px;
    box-shadow: 0 8px 0 var(--color-secondary);
    transition: .2s;
}

#btn-sign:active{
    transform: translateY(4px);
    box-shadow: 0 2px 0 var(--color-secondary);
}

#menu-btn{
    display: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* ===================== MOBILE ===================== */

@media (max-width:768px){

    

    #btn-sign{
        display: none;
    }

    #menu-btn{
        display: block;
    }

    #menu{
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background: var(--background);
        border-top: 1px solid var(--color-border);
    }

    #menu.ativo{
        display: block;
    }

    #menu ul{
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 20px 0;
    }

    #menu ul li{
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 15px 0;
    }

    #menu ul li:hover{
        background: rgba(255, 255, 255, 0.583);
    }
}